@import url("https://fonts.googleapis.com/css2?family=Shrikhand&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@300&display=swap");
.header__logo, h4, h5, .nom_du_restaurant {
  font-family: "Shrikhand", arial, sans-serif;
}

body {
  font-family: "Roboto", arial, sans-serif;
}

.header {
  /*background-color: yellow;*/
  text-align: center;
}
.header__logo {
  height: 40px;
  /*background-color: red;*/
  justify-content: center;
  align-items: center;
  display: flex;
}
.header__logo img {
  width: 160px;
  height: auto;
}

.francaise a {
  text-decoration: none;
  color: black;
}
.francaise i {
  margin-right: 50px;
  font-size: bold;
}

.location-reserver {
  text-align: center;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 40px;
  background-color: #eaeaea;
  padding-left: 80px;
}

.recherche {
  border: none;
  background-color: #eaeaea;
  color: black;
  font-weight: bold;
}

.reservation {
  background-color: #f6f6f6;
  height: 100%;
  padding-bottom: 50px;
  padding-top: 30px;
}
.reservation__menu {
  /*background-color: blue;*/
  /*padding-top: 20px; */
  width: 80%;
  margin: auto;
  font-size: 21px;
  font-weight: bold;
}
.reservation__decouverte {
  /*background-color: brown;*/
  width: 90%;
  margin: auto;
  padding-top: 10px;
  margin-bottom: 20px;
  font-size: 15px;
}
.reservation .bouton {
  background: linear-gradient(#FF79DA, #9356DC);
  width: 200px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 30px;
  box-shadow: 0px 3px 3px #999;
  margin: auto;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
}

.fonctionnement {
  margin-top: 30px;
  font-weight: bold;
  /*background-color: blue;*/
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    /*display: flex;
    align-items: center;
    flex-wrap: wrap; */
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .fonctionnement__titre {
    margin-top: 40px;
  }
}
.fonctionnement li {
  list-style-type: none;
}

.global_choix {
  display: row;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  /*background-color: yellow; */
}
@media screen and (min-width: 768px) {
  .global_choix {
    /*background-color: red;*/
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
}
@media screen and (min-width: 992px) {
  .global_choix {
    gap: initial;
  }
}
.global_choix .choisissez {
  /*background-color: red; */
  display: flex;
  align-items: center;
  /*pas de justify content center*/
  gap: 10px;
  margin-top: 30px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .global_choix .choisissez {
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .global_choix .choisissez {
    width: 33%;
  }
}
.global_choix .choisissez .premier i {
  margin-left: 17px;
}
@media screen and (min-width: 768px) {
  .global_choix .choisissez .premier i {
    margin-left: 0;
  }
}
.global_choix .choisissez .petit_cercle {
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #9356DC;
  color: white;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  z-index: 200;
  position: relative;
}
.global_choix .choix {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  width: 275px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: -20px;
  z-index: 100;
  width: 100%;
  margin-right: 10px;
}

.photo_restaurant {
  width: 100%;
  height: 200px;
  /*background-color: yellow; */
}
@media screen and (min-width: 678px) {
  .photo_restaurant {
    position: initial;
  }
}
.photo_restaurant img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant {
  background-color: #f6f6f6;
  margin-top: 40px;
  height: auto;
  width: 100%;
  padding-top: 40px;
}
.restaurant__titre {
  padding-left: 10px;
  /*padding-top: 40px; */
  font-weight: bold;
  font-size: 18px;
}
.restaurant__global {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .restaurant__global {
    display: flex;
    flex-wrap: wrap;
    /*gap: 10px; */
    justify-content: space-around;
  }
}
@media screen and (min-width: 992px) {
  .restaurant__global {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
  }
}

.restaurant__bloc {
  width: 100%;
  height: 200px;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
  border-radius: 20px;
  align-items: flex-start;
  display: flex;
  position: relative;
  margin-bottom: 20px;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}
@media screen and (min-width: 768px) {
  .restaurant__bloc {
    width: 38%;
  }
}
@media screen and (min-width: 992px) {
  .restaurant__bloc {
    width: 23%;
  }
}

.restaurant__image {
  height: 70%;
  width: 100%;
  /*background-color: aqua; */
}
.restaurant__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0; /*donne la rondeur en haut de l'image */
}

.restaurant__description {
  display: flex;
  align-items: center;
  /*background-color: yellow; */
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 15px;
  width: 100%;
  height: 30%;
}

.identite {
  margin-top: 5px;
  line-height: 0.3;
  text-decoration: none;
}
.identite__nom {
  font-weight: bold;
  color: black;
}
.identite__ville {
  font-size: 15px;
  color: black;
}

.bouton_nouveau {
  background-color: #99E2D0;
  width: 100px;
  height: 35px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: green;
  position: absolute;
  top: 20px;
  right: 10px;
}

.jaime {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.jaime:active .coeur-plein {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .jaime:hover .coeur-plein {
    opacity: 1;
  }
}

.coeur-vide {
  position: absolute;
  font-size: 20px;
  z-index: 1;
}

.coeur-plein {
  position: absolute;
  font-size: 20px;
  color: #9356DC;
  /*background-color: blue */
  z-index: 5;
  opacity: 0;
  transition: all 400ms;
}

.restaurant_francaise {
  background-color: red;
  height: 600px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid transparent;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  margin-top: -50px;
  z-index: 1;
}
@media screen and (min-width: 678px) {
  .restaurant_francaise {
    margin-top: 0;
    border-radius: 0px;
  }
}
.restaurant_francaise .nom_du_restaurant {
  font-size: 27px;
}
.restaurant_francaise .nom_coeur {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entree {
  width: 100%;
}
.entree .titre_plat {
  font-weight: normal;
  text-transform: uppercase;
}
.entree .titre_plat::after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  /* margin: 0 auto;  This will center the border. */
  width: 12%; /* Change this to whatever width you want. */
  padding-top: 10px; /* This creates some space between the element and the border. */
  border-bottom: 3px solid #99E2D0; /* This creates the border. Replace black with whatever color you want. */
}

.choix_plats {
  background-color: yellow;
}
.choix_plats .nom_des_choix {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  background-color: green;
  border: 1px solid transparent;
  border-radius: 20px;
}
.choix_plats .nom_des_choix li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 15px;
  cursor: pointer;
}
.choix_plats .nom_des_choix li .nom_et_description {
  line-height: 0.3;
}
.choix_plats .nom_des_choix li .prix {
  margin-top: 25px;
}

.pied_de_page {
  margin-top: 60px;
  background-color: #353535;
  /*img{
      height: 20px;
      margin-top: 30px;

  }
  */
}
.pied_de_page ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  line-height: 2.5;
}
.pied_de_page li {
  list-style-type: none;
}
.pied_de_page li i {
  margin-right: 10px;
}
.pied_de_page li a {
  text-decoration: none;
  color: white;
}
.pied_de_page .contact {
  margin-left: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  color: white;
}
.pied_de_page .logo-svg {
  width: 110px;
  height: auto;
}
.pied_de_page .logo-svg path {
  fill: white;
}/*# sourceMappingURL=main.css.map */