.entree {
  width: 100%;
}
.entree .titre_plat {
  font-weight: normal;
  text-transform: uppercase;
}
.entree .titre_plat::after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  /* margin: 0 auto;  This will center the border. */
  width: 12%; /* Change this to whatever width you want. */
  padding-top: 10px; /* This creates some space between the element and the border. */
  border-bottom: 3px solid #99E2D0; /* This creates the border. Replace black with whatever color you want. */
}

.entree {
  height: 600px;
  background-color: yellow;
}
.entree .les_differentes_entrees {
  background-color: green;
  height: auto;
  /* ne pas mettre 100% with ici */
  margin-left: 30px;
  margin-right: 30px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .entree .les_differentes_entrees {
    display: flex;
    justify-content: space-between;
  }
}
.entree .les_plats {
  background-color: red;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  /*border: 1px solid transparent; */
  cursor: pointer;
  border-radius: 20px;
  height: 65px;
  overflow: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .entree .les_plats {
    width: 49%;
  }
}
@media screen and (min-width: 992px) {
  .entree .les_plats {
    width: 32%;
  }
}
.entree .les_plats:hover .glissade { /*GLISSADE */
  margin-right: 0px;
}
.entree .les_plats:hover .icone {
  transform: rotate(360deg);
}
.entree .les_plats .glissade { /*GLISSADE */
  background-color: blue;
  width: 70px;
  height: 100%;
  border-radius: 0 20px 20px 0;
  margin-right: -500px;
  transition: 400ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.entree .les_plats .glissade .cercle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.entree .les_plats .glissade .cercle .icone {
  transition-duration: 0.8s;
  transition-property: transform;
}
.entree .les_plats .nom_et_description {
  line-height: 0.3;
  background-color: aqua;
  width: 100%;
  padding-left: 15px;
  padding-right: 20px;
  display: flex;
  align-items: end;
}
.entree .les_plats .nom_et_description .un {
  background-color: grey;
  width: 70%;
}
.entree .les_plats .nom_et_description .un h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: red;
}
.entree .les_plats .nom_et_description .un p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: red;
}
.entree .les_plats .nom_et_description .ajustement {
  background-color: bisque;
  width: 100%;
}
.entree .les_plats .nom_et_description .ajustement .regler {
  background-color: purple;
  overflow: hidden;
  text-overflow: ellipsis;
  /*white-space: nowrap; */
}
.entree .les_plats .nom_et_description .prix {
  font-weight: bold;
  margin-left: 15%;
  padding-bottom: 15px;
}

.pointiller {
  /*display: block; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: aqua;
  width: 600px;
}

.loader-position {
  /*position: fixed;*/
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*z-index: 1000;*/
  /*background-color: black; */
}

.loader {
  width: 120px;
  height: 120px;
  border: 6px solid green;
  border-radius: 50%;
  border-top-color: blue;
  border-bottom-color: pink;
  border-left-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%) rotate(0deg);
  -webkit-animation: spin 3s linear;
          animation: spin 3s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=test.css.map */