.restaurant
{
    background-color: $couleurfond;
    margin-top: 40px;
    height: auto;
    width: 100%;
    padding-top: 40px;

    &__titre{
        padding-left: 10px;
        /*padding-top: 40px; */
        font-weight: bold;
        font-size: 18px;
    }

    &__global{
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 20px;

        
        @media screen and (min-width: 768px)
        {
            display: flex;
            flex-wrap: wrap;
            /*gap: 10px; */
            justify-content: space-around;
        } 

        @media screen and (min-width: 992px)
        {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-around;
            
        }
    
    }

}

.restaurant__bloc{
    width: 100%;
    height: 200px;
    flex-wrap: wrap;
    background-color: white; 
    box-shadow: 0px 5px 20px #999; 
    border-radius: 20px;
    align-items: flex-start;
    display: flex;
    position: relative;
    margin-bottom: 20px;
    margin-inline-start: 0;
    margin-inline-end: 0;


    @media screen and (min-width: 768px)
    {
        width: 38%;
        
    } 

    @media screen and (min-width: 992px)
    {
        width: 23%;
    }


} 

.restaurant__image{
    height: 70%;
    width: 100%;
    /*background-color: aqua; */
    

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0; /*donne la rondeur en haut de l'image */
    }
}

.restaurant__description{
    display: flex;
    align-items: center;
    /*background-color: yellow; */
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 15px;
    width: 100%;
    height: 30%;

    
}


.identite{
    margin-top: 5px;
    line-height: 0.3;
    text-decoration: none;

    &__nom{
        font-weight: bold;
        color: black;
    }

    &__ville{
        font-size: 15px;
        color: black;
    }

}

.bouton_nouveau{
    background-color: #99E2D0;
    width: 100px;
    height: 35px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: green;
    position:absolute;
    top: 20px;
    right: 10px;
    
}


.jaime
{
	position: relative;
	width: 20px;
	height: 20px;
	cursor: pointer;
    

    &:active{
        .coeur-plein
        {
            opacity: 1;
        }			
    }


    @media screen and (min-width: 768px)
    {
        &:hover{
            .coeur-plein
            {
                opacity: 1;
            }			
        }
    }

	
}

.coeur-vide
{
	position: absolute;
	font-size: 20px;
	z-index: 1;
}

.coeur-plein
{
	position: absolute;	
	font-size: 20px;
	background: $couleurbouton;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
    
	z-index: 5;
	opacity: 0;
	transition: all 400ms;	 
}



.restaurant_francaise{
    /*background-color: peru;*/
    background-color: #f6f6f6;
    height: auto;
    padding-left: 20px;
    /*padding-right: 20px;*/
    border: 1px solid transparent;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    margin-top: -50px;
    
    z-index: 1; 

    @media screen and (min-width: 678px)
    {
        margin-top: 0;
        border-radius: 0px;
    }

    .nom_du_restaurant{
        font-size: 27px;
    }

    .nom_coeur{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .jaime{
            margin-right: 20px;
        }
    }

}


.type{
    width: 100%;

    .titre_plat{
        font-weight: normal;
        text-transform: uppercase;
        color: #7b7b7b;

        &::after{
            content: ""; /* This is necessary for the pseudo element to work. */ 
        display: block; /* This will put the pseudo element on its own line. */
        /* margin: 0 auto;  This will center the border. */
        width: 12%; /* Change this to whatever width you want. */
        padding-top: 10px; /* This creates some space between the element and the border. */
        border-bottom: 3px solid #99E2D0; /* This creates the border. Replace black with whatever color you want. */
        
        }
        
    }
}





.menu{
    width: 100%;
    /*background-color: grey; */
    
    @media screen and (min-width: 768px)
        {
            display: flex;
            justify-content: space-between;
            gap: 10px;
        }
}

.card
{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 95%;
    height: 65px;
    /*background-color: red; */
    box-shadow: 0px 5px 20px #999;
    border-radius: 20px;
    padding-left: 10px;
    cursor: pointer;
    
    justify-content: space-between;
    margin-bottom: 20px;

  
    

   

    &:hover{
        .col3{
            min-width: 50px;
            width: 100px;

            .icone{
                transform: rotate(360deg);
            }
        }
    }

    .col1
    {
        flex-grow: 1; 
        /*background-color:green;*/

        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap; 
        
        

        h3{
            overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;
        /*background-color: yellow; */
        margin: 0;
         
        }

        p{
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;
        /*background-color: aqua;*/
        margin: 0;
         
        
        }
    }


    .col2{
        min-width: 60px;
        width: 70px;
        /*background-color: blue; */
        margin-top: 25px;
        font-weight: bold;
        
        
    }
    
    .col3{
        min-width: 0px;
        width: 0px;
        background-color: $couleurtertiaire;
        height: 100%;
        color: $couleurtertiaire;
        transition: all 400ms;
        display: flex;
        justify-content: center;
        overflow: hidden;


        .cercle{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: white;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
    
            .icone{
                transition-duration: 0.8s;
                transition-property: transform;
            }
        }

}

}


.autre
{
	animation-name: mon_anim;
	animation-duration: 1000ms;
	animation-delay: 0ms;
	animation-timing-function: ease-in-out;

	animation-iteration-count: 1;
}


@keyframes mon_anim{
	0%{
		transform: translateY(10px);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}


.autre_1
{
	animation-name: mon_anim;
	animation-duration: 1500ms;
	animation-delay: 0ms;
	animation-timing-function: ease-in-out;

	animation-iteration-count: 1;
}


.autre_2
{
	animation-name: mon_anim;
	animation-duration: 2000ms;
	animation-delay: 0ms;
	animation-timing-function: ease-in-out;

	animation-iteration-count: 1;
}

.autre_3
{
	animation-name: mon_anim;
	animation-duration: 2500ms;
	animation-delay: 0ms;
	animation-timing-function: ease-in-out;

	animation-iteration-count: 1;
}


.bouton{
    
    background: $couleurbouton; 
    width: 200px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 30px;
    box-shadow: 0px 3px 3px #999;
    margin: auto;
    cursor: pointer; 

    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    margin-top: 55px;
    margin-bottom: 140px;
    border: none;

    &:hover{
        background: linear-gradient(356deg,
        lighten($coleurgradient1, 10%) 0%,
        lighten($couleurgradient2, 15%) 70%,
        );
        box-shadow: 0px 6px 6px #999;
    }
}

.loader-position {
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
  }
   

  .loader {
    width: 220px;
    height: 220px;
    border: 6px solid white;
    border-radius: 50%;
    border-top-color: $coleurgradient1;
    border-bottom-color: $couleurgradient2;
    border-left-color: $couleurtertiaire;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translate(-50%, -50%) rotate(0deg); 
    animation: spin 3s linear;
    animation-fill-mode: forwards;
  }
 
  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(360deg);
      opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }