.pied_de_page{
    margin-top: 60px;
    background-color: #353535;

    img{
        height: 20px;
        margin-top: 30px;
        
    }

    .contact{
        margin-left: 20px;
        padding-bottom: 30px;
        color: white;
    }
}