.header
{
    /*background-color: yellow;*/
    text-align: center;
    

    &__logo{
        height: 40px;
        /*background-color: red;*/
        justify-content: center;
        align-items: center;
        display: flex;

        img{
            width: 160px;
            height: auto;
            
        }
    }

}









.francaise{
    
    a{
        text-decoration: none;
        color: black;
        
    }

    i{
        margin-right: 50px; 
        font-weight: bold;
        
    }

    
}


